<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>TSB - Dashboard</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>TSB Management System</h1>
		<hr>
		<h2>Ajouter un compte</h2>

		<form action="#" th:action="@{/saveCompte}" th:object="${compte}"
			method="POST">
			<input type="text" th:field="*{ribCompte}"
				placeholder="Rib du compte" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{solde}"
				placeholder="Solde de compte" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{ouverture}"
				placeholder="Date d'ouverture de compte" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{idClient}"	placeholder="ID Propriétaire" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Enregistrer compte</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/listComptes}"> Retour vers la lists des comptes</a>
	</div>
</body>
</html>