<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="icon" type="image/x-icon"  th:href="@{/img/tsb.jpg}">
    <title>Authentification TSB </title>
</head>

<body>



    <div class="container">
            <form th:action="@{/checkUser}" method="post" th:object="${user}">
            <img th:src="@{/img/TBS100.png}" width="465" height="575"/>
            <p>Welcome</p>
            <input type="email" placeholder="Username"  th:field="*{username}"><br>
            <input type="password" placeholder="Password"  th:field="*{password}"><br>

            <input type="submit" value="Login"><br>
            <a href="#">Forgot Password</a>
            <a href="/registration">Create an account</a>
            
        </form>


    </div>

</body>

</html>