<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>TSB - Dashboard</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>TSB Management System</h1>
		<hr>
		<h2>Ajouter un virement</h2>

		<form action="#" th:action="@{/saveVirement}" th:object="${virement}"
			method="POST">				
				<label>Montant de virement</label>
				<input type="text" th:field="*{montant}" placeholder="Montant du virement" class="form-control mb-4 col-4">
				<label>nombre de virement</label>
				<input type="text" th:field="*{nbVirement}" placeholder="Nombre de virement" class="form-control mb-4 col-4">
				<label>RIB de Client</label>
				<input type="text" th:field="*{ribDepart}" placeholder="RIB de client" class="form-control mb-4 col-4">
			    <label>RIB de Beneficiaire</label>
				<input type="text" th:field="*{ribBeneficiaire}" placeholder="RIB de beneficiare" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Enregistrer virement</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/listvirements}"> Retour vers la lists des virement</a>
	</div>
</body>
</html>