<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>TSB - Dashboard</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>TSB Management System</h1>
		<hr>
		<h2>Modifier les information de client</h2>

		<form action="#" th:action="@{/saveVirement}" th:object="${virement}"
			method="POST">				
				<input type="text" th:field="*{montant}"
				placeholder="Montant du virement" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Modifier virement</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/listComptes}"> Retour vers la lists des clients</a>
	</div>
</body>
</html>